:root {
  --primari-text-color: #757575;
  --title-text-color: #2196f3;
  --accent-color: #212121;
  --primary-beg-color: #ffffff;
}

.body {
  color: var(--primari-text-color);
  background-color: var(--primary-beg-color);
}

.list {
  list-style: none;
}
/* Шапка */
.logo {
  color: var(--title-text-color);
}
.site-nav .link {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.auth-nav .link {
  color: var(--accent-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--title-text-color);
}
/* фініш */
.section-title2 {
  color: var(--accent-color);
}
.feature-list .title {
  color: var(--accent-color);
}

/* button */
.button {
  color: var(--primary-beg-color);
  background-color: var(--title-text-color);
}
.text {
  color: var(--primari-text-color);
}
/* осоновний колір #212121; */
/* другій колір #757575; */
/* акцент #FFFFFF; */
/* ефект 2 #2196F3; */
/* вторичний фон #F5F4FA; */
